name: zensor-server

services:
  kafka-console:
    image: docker.redpanda.com/redpandadata/console:latest
    configs:
      - source: kafka-connect
        target: /tmp/config.yml
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
    networks:
      - zensor
    ports:
      - "8080:8080"
    depends_on:
      - kafka

  kafka:
    image: apache/kafka:4.0.1
    environment:
      - KAFKA_NODE_ID=0
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:19092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:19092
      - KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LOG_DIRS=/tmp/kraft-combined-logs
      - KAFKA_OPTS=-XX:UseSVE=0
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS=50
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
    volumes:
      - kafkadata:/tmp/kraft-combined-logs
    ports:
      - "19092:19092"
    networks:
      - zensor

  kafka-connect:
    image: ghcr.io/zensor-iot/zensor-infra/kafka-connect:0.3.0
    ports:
      - "8083:8083"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "kafka:9092"
      CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"
      CONNECT_REST_PORT: "8083"
      CONNECT_GROUP_ID: "kafka-connect-cluster"
      CONNECT_CONFIG_STORAGE_TOPIC: "connect-configs"
      CONNECT_OFFSET_STORAGE_TOPIC: "connect-offsets"
      CONNECT_STATUS_STORAGE_TOPIC: "connect-status"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_KEY_CONVERTER: "org.apache.kafka.connect.storage.StringConverter"
      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      CONNECT_VALUE_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "true"
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
      KAFKA_HEAP_OPTS: "-Xms512M -Xmx1G"
    networks:
      - zensor
    depends_on:
      kafka:
        condition: service_started
      schema-registry:
        condition: service_started

  schema-registry:
    image: ghcr.io/zensor-iot/zensor-infra/schema-registry:0.5.2
    depends_on:
      kafka:
        condition: service_started
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR: "1"
      SCHEMA_REGISTRY_LEADER_ELECTION_TIMEOUT_MS: "10000"
      SCHEMA_REGISTRY_KAFKASTORE_TIMEOUT_MS: "10000"
      SCHEMA_REGISTRY_KAFKASTORE_REQUEST_TIMEOUT_MS: "10000"
      SCHEMA_REGISTRY_MASTER_ELIGIBILITY: "true"
    networks:
      - zensor

  postgresql:
    image: postgres:14-alpine3.21
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - zensor

  redis:
    image: valkey/valkey:9.0-alpine3.22
    environment:
      ALLOW_EMPTY_PASSWORD: true
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"
    networks:
      - zensor

  prometheus:
    image: prom/prometheus:v3.7.3
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
      - --web.enable-remote-write-receiver
    networks:
      - zensor

  grafana:
    image: grafana/grafana:11.5.1
    ports:
      - "3001:3000"
    networks:
      - zensor
    depends_on:
      - prometheus

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    command: --config=/config/otelcol.yaml
    configs:
      - source: otelcol
        target: /config/otelcol.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
    networks:
      - zensor

volumes:
  pgdata:
    driver: local
  redisdata:
    driver: local
  kafkadata:
    driver: local

networks:
  zensor:
    driver: bridge

configs:
  server:
    content: |
      general:
        log_level: info
      mqtt:
        broker: "localhost:1883"
      database:
        dsn: "host=postgresql user=postgres dbname=postgres port=5432 sslmode=disable"
      kafka:
        brokers:
          - "kafka:9092"
        group: "zensor-server"
        schema_registry: "http://schema-registry:8081"
      redis:
        addr: "redis:6379"
        password: ""
        db: 0
      mqtt_client:
        broker: nam1.cloud.thethings.network:1883
        client_id: zensor_server_local

  kafka-connect:
    content: |
      kafka:
        brokers:
          - "kafka:9092"
      kafkaConnect:
        enabled: true
        clusters:
          - name: my-local-cluster
            url: "http://kafka-connect:8083"
      schemaRegistry:
        enabled: true
        urls:
          - "http://schema-registry:8081"

  otelcol:
    content: |
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              endpoint: 0.0.0.0:4318

      processors:
        batch:
          timeout: 0ms

      exporters:
        prometheusremotewrite:
          endpoint: http://prometheus:9090/api/v1/write
          tls:
            insecure: true
        debug:
          verbosity: detailed

      service:
        pipelines:
          traces:
            receivers: [otlp]
            processors: [batch]
            exporters: [debug]
          metrics:
            receivers: [otlp]
            processors: [batch]
            exporters: [prometheusremotewrite]
